.logo{
	border-radius: 100%;
	height: 70px;
	width: 100px;
}
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins',sans-serif;
}
.se1{
	background-color: lightblue;
	height: 600px;
	width: 100%;
	background-image: linear-
	gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/till.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 150px;
}




.div{
	flex: 1;
	text-align: right;
}
.div ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.div ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}
.div ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
}
.div ul li:hover::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.div ul li:hover::after{
	width: 100%;
}




.div1{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.div1 h1{
	font-size: 62px;
}
.div1 p{
    margin: 10px 0 40px;
    font-size: 14px;'
    color: #fff;
}



.se2{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
h1{
	font-size: 36px;
}
p{
	font-size: 14px;
	padding: 10px;
}

.div2{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.diva{
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	margin-right: 30px;
	transition: 0.5s;
}
.divb{
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	margin-right: 30px;
	margin-left: 30px;
	transition: 0.5s;
}
.divc{
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	margin-left: 30px;
	transition: 0.5s;
}
h3{
	text-align: center;
	margin: 10px 0;
}
.diva:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.divb:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.divc:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}




.se3{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}
.div3{
	display: flex;
}
.adiv{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.adiv img{
	width: 100%;
}
.aadiv{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.aadiv:hover{
	background: #fafcfc;
}
.bdiv{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.bdiv img{
	width: 100%;
}
.bbdiv{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.bbdiv:hover{
	background: #fafcfc;
}

.cdiv{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.cdiv img{
	width: 100%;
}
.ccdiv{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.ccdiv:hover{
	background: #fafcfc;
}



#mybtn{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;

	font-size: 19px;
	border-radius: 100%;
	border-style: none;
	outline: none;
	background-color: rgb(248, 248, 248);
	color: gray;
	opacity: 0.8;
	cursor: pointer;
	padding: 15px;
}
#mybtn:hover{
	background-color: #555;
}

footer{
background-color: lightblue;
width: 100%;
height: 170px;
margin-top: 80px;
}
.foimg1{
width: 33%;
margin-right: 20px;
    border-radius: 100%;
}
.foimg2{
width: 33%;
margin-right: 20px;
    border-radius: 100%;
}
.foimg3{
width: 33%;
margin-right: 20px;
    border-radius: 100%;
}
a{
	text-decoration: none;
	text-underline-position: none;
	color: black;
}